<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Vizitka{% endblock %}</title>
    <link href="/css/app.css" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body>

    {% block content %}
    	<h1>Text in every file.</h1>
    {% endblock %}

    <script type="text/JavaScript" src="/js/app.js"></script>
    
    {% autoescape false %}
      <script type="text/JavaScript">
        var variable = "{{ value }}";
        var data = {{ data|json_encode }};
      </script>
    {% endautoescape %}

  </body>
</html>