.base-view {
  display: none;
}
.base-view.visible {
  display: block;
}
.navbar-default {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -o-border-radius: 0;
  -border-radius: 0;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}
.jumbotron img {
  max-width: 100%;
}
textarea.edit-page {
  width: 100%;
  min-height: 20em;
}
.brick .type,
.brick .contentJson {
  display: none;
}
