.jumbotron
  p
    img.img-rounded(src="http://placekitten.com/g/1000/200")
  br
  h1
    span <stroong>Cardolin </stroong>
    span.lead is a simplest editor for one page websites.
  br
  p Think personal homepage or a quick website for tomorrow's foosball tournament.
  p Did we say it's realtime? :)
  br
  p
    a.btn(href="https://cardolin.herokuapp.com/pages/honzacerny") See example
  p
    a.btn(href="http://screencast.com/t/k7cWsXdISA8") How it works?
  p
    button.login.btn.btn-success Start using Cardolin &rarr;
