.jumbotron
  p 
    img.img-rounded(src="http://placekitten.com/g/1000/200")
  br
  p <b>Cardolin</b> is a simplest editor for one page websites.
  p Think personal homepage or a quick website for tomorrow's foosball tournament.
  p Did we say it's realtime? :)
  p 
    a.btn(href="https://min-vizitka.herokuapp.com/pages/honzacerny") See example
  p 
    a.btn(href="http://screencast.com/t/k7cWsXdISA8") How it works?
  p  
    button.btn.btn-success Start using Cardolin &rarr;