body
  header.navbar.navbar-default
    .container
      .navbar-header
        a.navbar-brand(href="#") AwesomeApp
      ul.nav.navbar-nav.navbar-right
        // li
          a(href="/") home
        // li
          a(href="/collections") collection demo
        // li
          a(href="/info") more info
        li.login
          button.btn.btn-primary.navbar-btn(type='button') log in with facebook
        li.logout.hidden
          p.name.navbar-text
          button.btn.navbar-btn(type='button') log out

  .container#pages
//- don't add scripts here, as they are processed through jquery.append(htmlString), and that causes scripts not to be executed (due to workaround for old IE)
//- instead add them to app.js - externalScripts