body
  .container
    .navbar
      .navbar-inner
        a.brand(href="#") AwesomeApp
        ul.nav
          li
            a(href="/") home
          li
            a(href="/collections") collection demo
          li
            a(href="/info") more info

    main#pages
  //- don't add scripts here, as they are processed through jquery.append(htmlString), and that causes scripts not to be executed (due to workaround for old IE)
  //- instead add them to app.js - externalScripts