body
  header.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle(type='button')
          a.navbar-brand(href="#") AwesomeApp
      ul.nav.navbar-nav
        li
          a(href="/") home
        li
          a(href="/collections") collection demo
        li
          a(href="/info") more info
        li
          a(href="/login") log in

  .container
    main#pages
//- don't add scripts here, as they are processed through jquery.append(htmlString), and that causes scripts not to be executed (due to workaround for old IE)
//- instead add them to app.js - externalScripts