meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
meta(name="apple-mobile-web-app-capable", content="yes")
//- don't add scripts here, as they are processed through jquery.append(htmlString), and that causes scripts not to be executed (due to workaround for old IE)
//- instead add them to app.js - externalScripts