extends layout

block head
  link(href='http://fonts.googleapis.com/css?family=Raleway:400,800', rel='stylesheet', type='text/css')
  link(href='/css/cardolin.min.css', rel='stylesheet', type='text/css')

block content

  for item, i in data.bricks
    context = data.bricks[i].content
    if item.type == "meta"
      include meta
    else if item.type == "markdown"
      include markdown
    else if item.type == "image"
      include image
    else if item.type == "portfolio"
      include portfolio