- var footerContent = false
doctype 5
html(lang="en")
  head
    title= pageTitle
    block head
  body
    #content

      block content

  footer
    .row
      .large-7.columns
        block footer

      .large-5.columns.right.text-right
        p &copy; 20013 Cardolin